<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.cei.vdframework.kernel.service" name="Execution engine service extension point" schema="schema/org.cei.vdframework.kernel.service.exsd"/>
   <extension-point id="org.cei.vdframework.kernel.engine" name="Execution engine extension point" schema="schema/org.cei.vdframework.kernel.engine.exsd"/>
   <extension-point id="org.cei.vdframework.kernel.validation" name="Validation" schema="schema/org.cei.vdframework.kernel.validation.exsd"/>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.cei.vdframework.kernel.KernelPackage"
            genModel="resources/models/Kernel.genmodel"
            uri="Kernel">
      </package>
   </extension>

</plugin>
